h1 {
  font-size: 50px;
  color: #ffffff;
}

h2 {
  color: aliceblue;
}
.jumbotron {
  padding: 5rem 4rem;
  background-color: #0e2a47;
}

#Projects {
  background-color: #0e2a47;
}

h4 {
  color: #ffffff;
}
h5{
  font-size:30px;
}
footer {
  color: #0e2a47;
}

section {
  padding-top: 5rem;
}
/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
